.login-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1470219556762-1771e7f9427d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80");
    background-size: cover;
    .login-box{
        padding: 2rem 0;
        text-align: center;
        border-radius: 1rem;
        height: 20rem;
        width: 20rem;
        background-color: #f5f5f5;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .login-button{
        padding: .8rem 4rem;
        font-size: 1.6rem;
        color: #fff;
        cursor: pointer;
        background-color: #2D334A;
        border: none;
    }
}