@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto';
    font-size: 1.6rem;
    margin: 0;
    background: #f1f1f1;
    position: relative;
    height: 100%;
}

.container{
    width: 114rem;
    height: 100%;
    margin: 0 auto;
}

.margin-b-big{
    margin-bottom: 3rem;
}

.position-a{
    position:absolute;
}